/* reset  */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* clearfix */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
main{
    width: 80%;

    margin-left: auto;
    margin-right: auto;
}

/* titolo e paragrafo */
body{
    font-family: 'Nunito', sans-serif;
}
#title{
    text-align: center;
    margin-top: 34px;
}
h1{
    color: #e53170;
    font-weight: 900;
    padding-bottom: 50px;
}
p{
    padding-bottom: 40px;
}

/* colonne */
.column{
    width: calc(100% / 3);
    height: 120px;
    
    padding: 0px 10px;
    text-align: left;
    float: left;
    margin-bottom: 40px ;
}
img{
    width: 120px;
}
.description{
    float: right;
    width: calc(100% - 120px);
    height: 100%;

    background-color: #0f0e17;
    color: white;
}
.description > *{
    padding-left: 10px;
    padding-top: 12px;
}
h2{
    font-size: 16px;
    font-weight: 700;
    font-style: bold;
}
h3{
    font-size: 16px;
    font-weight: 400;
}
.blue-text{
    font-size: 16px;
    color: #16caf3;
}