/* reset  */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* clearfix */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: 'Nunito', sans-serif;
}